input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    display: none !important;
}
div:where(.swal2-container).swal2-center>.swal2-popup {
    max-width: 340px !important;

}
div:where(.swal2-container) .swal2-input{
    margin-left: 0px !important;
    margin-right: 0px !important;

 }

  
  